* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
 
}

a:href {
    color: #4d5155;
    text-decoration:underline;
}

body {
 font-family: 'Lato', Arial, sans-serif; 
  background-color: #e8eaec;
  margin: 0;
}
 
.nav  a{
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav  h1{
  color: #4d5155;
  font-size: 41px;
  font-weight: 300;
  padding: 30px;
  padding-bottom: 50px;
}

.jumbotron {
    margin-left: auto;
    margin-right: auto;
	width: 550px;
	padding-bottom: 40px
}

.jumbotron .container{
	color: white;
    background-color: #98af17;	
	box-shadow: 0px 0px 10px #9f9f9f;
}

.jumbotron .containerfm{
	color: white;
    background-color: #bb457f;	
	box-shadow: 0px 0px 10px #9f9f9f;
}

.jumbotron h1 {
	font-weight: 300; 
	font-size: 43px;
	padding: 15px;
}

.jumbotron p {
	font-size: 30px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.jumbotron .tableinner {
    background-color: #7e8e14;
	text-align: right;
	box-shadow: 0px 0px 10px #6d724a;
}

.jumbotron .tableinner p{
	color: white;
	font-size: 15px;
	font-weight: 300; 
	padding: 5px;
}

.jumbotron .tableinnerfm {
    background-color: #9d235f;
	text-align: right;
	box-shadow: 0px 0px 10px #643e51;
}

.jumbotron .tableinnerfm p{
	color: white;
	font-size: 15px;
	font-weight: 300; 
	padding: 5px;
}