﻿<!DOCTYPE html>

<html>
  <head>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
 
  <body>
    <div class="nav">
      <div class="container">
		<h1>Oto wpisy do mojej bazy</h1>
      </div>
    </div>
    {% for key in data_base %}
    <div class="jumbotron">
        {% if key.sex=='a' %}
        <div class="containerfm">
        {% else %}
        <div class="container">
        {%endif%}
		<h1><a href="user/{{key.name}}_{{key.surname}}">{{key.name}} {{key.surname}}</a></h1>
		<p>{{key.address}}</p>
		<p>{{key.telephone}}</p>
      </div>
      {% if key.sex=='a' %}
	  <div class="tableinnerfm">
	  {% else %}
      <div class="tableinner">
      {%endif%}
	  	<p>wiek: <b>{{key.age}}</b></p>
	  </div>
    </div> 
    {% endfor %}
    <div class="jumbotron">
        <p>Suma wieku użytkowników:<b> {{ SumAge }}</b> lata</p>
        <p>Średni wiek to: <b>{{ AvgAge }} </b>lat</p>
        <p>Łączna liczba użytkowników w bazie:<b> {{ Users }}</b> </p>
    </div>
  </body>
</html>