﻿<!DOCTYPE html>

<html>
  <head>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
 
  <body>
    <div class="nav">
      <div class="container">
		<h1>Użytkownik nie istnieje!</h1>
      </div>
    </div>

  </body>
</html>