﻿<!DOCTYPE html>

<html>
  <head>
		<link href='http://fonts.googleapis.com/css?family=Lato:400,100,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
 
  <body>
    <div class="nav">
      <div class="container">
		<h1>Oto pojedyńczy wpis do mojej bazy</h1>
      </div>
    </div>
    <div class="jumbotron">
        {% if users.sex=='a' %}
        <div class="containerfm">
        {% else %}
        <div class="container">
        {%endif%}
		<h1>{{users.name}} {{users.surname}}</h1>
		<p>{{users.address}}</p>
		<p>{{users.telephone}}</p>
      </div>
      {% if users.sex=='a' %}
	  <div class="tableinnerfm">
	  {% else %}
      <div class="tableinner">
      {%endif%}
	  	<p>wiek: <b>{{users.age}}</b></p>
	  </div>
    </div> 
  </body>
</html>